# This is the notebook of the project using the code from the Model.py class file and the simulation code from the Simulation.py file

Firstly, we initialise the class that can be found in the Model.py file (also in the Code folder)

In [1]:
from Solow import Solow
import pandas as pd

We then create a Solow class instance

In [6]:
solow = Solow(a=1/3, g=0, n=0, d=0.02, s=0.1, K_0=1, A_0=1, L_0=1)

Secondly, we run a simple simulation for 50 years

In [7]:
dataset = solow.simulate(50)
df = pd.DataFrame(dataset[1:], columns=dataset[0])
df.index.names = ['Year']
df.head(n=5)

1

,Output,Capital,TFP,Labour,Investment,Consumption,Output Change,Capital Change,TFP Change,Labour Change,...,Capital / Effective Labour,Capital / Capita,Investment / Capita,Consumption / Capita,Capital / Effective Labour Change,Output / Capita Change,Capital / Effective Labour Change,Capital / Capita Change,Investment / Capita Change,Consumption / Capita Change
Year,,,,,,,,,,,,,,,,,,,,,
0,1.000000,1.000000,1,1,0.100000,0.900000,0.000000,0.000000,0,0,...,1.000000,1.000000,1.000000,0.100000,0.900000,0.000000,0.000000,0.000000,0.000000,0.0
1,1.025986,1.080000,1,1,0.102599,0.923387,0.025986,0.080000,0,0,...,1.025986,1.080000,1.080000,0.102599,0.923387,0.025986,0.080000,0.080000,0.025986,0.0
2,1.051019,1.160999,1,1,0.105102,0.945917,0.025033,0.080999,0,0,...,1.051019,1.160999,1.160999,0.105102,0.945917,0.025033,0.080999,0.080999,0.025033,0.0
3,1.075168,1.242880,1,1,0.107517,0.967651,0.024149,0.081882,0,0,...,1.075168,1.242880,1.242880,0.107517,0.967651,0.024149,0.081882,0.081882,0.024149,0.0
4,1.098494,1.325540,1,1,0.109849,0.988644,0.023325,0.082659,0,0,...,1.098494,1.325540,1.325540,0.109849,0.988644,0.023325,0.082659,0.082659,0.023325,0.0